/* Colors and fonts */
body {
	background: #dcf0f0;
	color: #355791;
	font-family: Helvetica;
	font-size: 14px;
	font-weight: lighter;
}
h1, h2, h3 {
	font-family: 'roboto', sans-serif;
}

h1 {
	color: #433e5e;
	font-size: 32px;
	.roboto-<uniquifier> {
	  font-family: "Roboto", serif;
	  font-optical-sizing: auto;
	  font-weight: <weight>;
	  font-style: normal;
	  font-variation-settings:
	    "wdth" 100;
	
}
}

h2 {
	color: #5ae079;
	font-size: 18px;
	.lora-<uniquifier> {
	  font-family: "Lora", serif;
	  font-optical-sizing: auto;
	  font-weight: <weight>;
	  font-style: normal;
	  font-variation-settings:
	    "wdth" 400;
}
}
a{
	font-family: "Roboto", serif;
	  text-decoration: none;
	  color: #5779cf;
	  font-weight: 500;
	  font-style: 14px;
}
a:hover {
	color: black;
}

/* Custom design with class (98% or your design) */

.container {
	width: 720px;
	margin: 40px auto;
}

@media (max-width: 960px){
	.container{
		width: 700px;
	}
}

@media (max-width: 540px){
	.container{
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #5779cf;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;
}
.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
	padding: 10px;
}
.list-inline i {
	font-size: 50px;
	color: rgb(200, 200, 200);
}
.list-inline i:hover {
	font-size: 50px;
	color: rgb(200, 200, 200);
}

/* Design adjustments using id (2% design remaining) */
#introduction p {
	margin-bottom: 40px;
}
#mpr {
	width: 180px;
}








